---
title: Home
layout: default
feature: miru
---

<div class="wrap">

<div class="index">
<aside class="index-intro">

{% for page in site.pages %}
{% if page.title == 'About' %}
<img src="{{page.image}}">
<p>{{page.description}}</p>
{% endif %}
{% endfor %}

<h2> Venice </h2>
{% for post in site.posts offset:3 %}
{% if post.dept == '#66f2b2' %}
<div class="local-news">
<h2><a href="{{post.url}}" class="title">{{post.title}}</a></h2>
<p> {{ post.content | strip_html | truncatewords:25}} </p>
</div>
{% endif %}
{% endfor %}

</aside>


<article class="post-preview">
{% for post in site.posts limit:1 %}
{% if forloop.first %}
<img src="/uploads/{{post.img}}">
<h1><a href="{{post.url}}" class="title">{{post.title}}</a></h1>
<p> {{ post.content | strip_html | truncatewords:25}} </p>
{% endif %}
{% endfor %}
</article>

<article class="post-preview">
<h2> West Coast </h2>
{% for post in site.posts %}
{% if post.region == 'west' %}
<div class="list-thumbnail"><a href="{{post.url}}"><img src="/uploads/{{post.img}}"></a>
<h2><a href="{{post.url}}" class="title">{{post.title}}</a></h2>
<p> {{ post.content | strip_html | truncatewords:15}} </p>
</div>
{% endif %}
{% endfor %}

</article>

<article class="post-preview">
<h2> International </h2>
{% for post in site.posts %}
{% if post.dept == '#66f2b2' %}
<div class="list-thumbnail"><a href="{{post.url}}"><img src="/uploads/{{post.img}}"></a>
<h2><a href="{{post.url}}" class="title">{{post.title}}</a></h2>
<p> {{ post.content | strip_html | truncatewords:15}} </p>
</div>
{% endif %}
{% endfor %}
</article>

</div>


