---
title: Home
layout: default
---

<div class="wrap">

  <div class="intro">
  <h1>{{site.description}}</h1>

  </div>

    {% if type == "post" %}
      {% comment %} Show tagsets if this is a post {% endcomment %}

      {% for tagset in taxonomy %}
        <strong>{{tagset.key}} ({{tagset | size}} tags)</strong>
        <ul>
          {% for tag in tagset %}
            <li><a href="{{tag.url}}">{{tag.value}}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}

    {% else %}
      {% comment %} Loop through any posts and show an excerpt {% endcomment %}



      {% for post in site.posts %}
      {% if post.categories contains 'hero' limit:3 %}
        <article class="post-preview">
<div class="top-img"><a href="{{post.url}}"><img src="/uploads/{{post.img}}"></a></div>
        <div class="top-post">
          <h1>  <a href="{{post.url}}" class="title">{{post.title}}</a>   </h1>
         <h3> {{post.date | date: "%m. %d. %Y"}}</h3>
          <p>{{post.content | strip_html | truncatewords: 40}}</p>


      </div>

        </article>
          {% endif %}


      {% endfor %}



    {% endif %}


   {% for post in site.posts %}
   {% if post.categories contains 'miru' limit:6 %}
     <article class="post-preview-list">
     <div class="list-content">
       <h3> {{post.date | date: "%m. %d. %Y"}}</h3>
    <h1> <a href="{{post.url}}" class="title">{{post.title}}</a></h1>
       <div class="index-tag">
       {% for tag in post.tags %}
       <a href="/tag/{{ tag }}">{{ tag }}</a>
       {% endfor %}
       </div>

   </div>

     </article>
       {% endif %}
   {% endfor %}

<div class="homepage-archives">
  <a href="/archives">Older Posts &#8627;</a>
</div>


<div class="twitter-handle">
  <h1>Miru World Tweets </h1>


<div id="ph-tweets"></div>
</div>



  </div><!-- /wrap -->
