<header class="site-header">

   <div class="wrap">
      <div class="logo">
      <a href="/"> Miru 🌴  Travel </a>
    </div>


<nav>
    <ul>

    <li>
          <a class="page-link" href="/venice">Venice</a>
          </li>

           <li>
          <a class="page-link" href="/favorite-cities">Favorite Cities</a>
          </li>

          <li>
          <a class="page-link" href="/about">About Us</a>
          </li>

          <li>
          <a class="page-link" href="/archives">Archives</a>
          </li>

        



        </ul>
</nav>


   </div>


</header>
