 <header>
   <div class="wrap">
    <nav class="navigation">
      <div class="logo">
      <a href="/">Miru  </a>
    </div>
    <ul>
      <li><a href="/about" class="left"> About</a></li>
      <li><a href="/contact" class="left">Contact </a></li>
        <li><a href="/contact" class="left">Categories </a></li>
        <li><a href="https://twitter.com/miru_travel" target="_blank"> <img src="/img/twitter.svg"></a></li>
        <li><a href="https://www.instagram.com/miru_travel/" target="_blank"> <img src="/img/glyph-logo_May2016b.png"></a></li>
    </ul>

     </nav>



   </div>


</header>
