
h2 {

   padding: 2em 0 1em;
}

.related-posts {
	@include outer-container;
  padding: 3em 0;

     .related {
          text-transform: uppercase;
          text-align: center;
      }

  h1 {
    margin: 1em 0;
    
    font-size: 1.3em;

  }

  
 ul {
@include outer-container;


	li {
  @include span-columns(6);
  @include omega(2n);
padding: 1em 0;
			@media screen and (max-width: $break-small) {
			   margin-right: 0;
			   width: 100%;
         padding: 15px 0;
         max-height:none;
			 }

       .related-asset {
       
         padding-top: 2em;

         h2 {
         margin: 2em 0;
         border-bottom: 1px solid #f84141;
         text-align: left;
    position: relative;
    display: inline-block;
}

         @media screen and (max-width: $break-small) {
            margin-left: 0;
            width: 100%;
            padding: 15px 0;
            max-height:none;
          }

          p {
          margin:1em 0 0;
          width: 100%
          }
       }

         p {

               @media screen and (max-width: $break-small) {
                  margin-right: 0;
                  width: 100%;
                  padding:  0;
                  margin: 0;
                  max-height:none;
                }
         }

       a {
        
         display: block;

       }

	}
   }

}

.post-color {
	    width: 13px;
    height: 13px;
    float: left;
    margin: 5px 5px 0 0;
}

.post-color-blog {
	width: 10px;
	height: 10px;
  margin: 1px 5px 0 0;
}




li.post-date {
text-transform:uppercase;
text-align:center;
font-size:.6em;
font-weight:$headWeight;
margin: 2em 0 0;
}

.links {
@include span-columns(3 of 6);
}

.social {
@include span-columns(6);
  margin: 2em 0px;

  	ul li {
  	@include span-columns(1);
  	@include omega(4n);
  	}

	h3 {
	  text-align: left;
	  font-weight: 700;
	}
}

footer {
@include outer-container;
  border-top: 1px solid #eee;
  margin: 2em 0;
  padding: 1em 0;

 @include direction-context(right-to-left){
.footer-right {
    @include span-columns(7);
    text-align: right;
  ul li {
display: inline;
    margin: 1.8em 0;
padding: 0 1em;


    img {
      width: 20px;
    }
  }
}
}
		h3{
      @include span-columns(5);
		text-align:left;
		}


}
