
h2.related {
  text-align: center;
  font-size: 1.3em;
  border-bottom:  1px solid #eee;
   padding: 2em 0 1em;
}

.related-posts {
	@include outer-container;
  padding: 3em 0;


  h3 {
  text-transform:uppercase;
  text-align:left;
  font-size:.6em;

  }
 ul {
@include outer-container;


	li {
  float: left;
padding: 1em 0;
			@media screen and (max-width: $break-small) {
			   margin-right: 0;
			   width: 100%;
         padding: 15px 0;
         max-height:none;
			 }

       .related-asset {
         @include span-columns(8);
         @include shift(2);

         @media screen and (max-width: $break-small) {
            margin-left: 0;
            width: 100%;
            padding: 15px 0;
            max-height:none;
          }

          p {
          margin-left: 0;
          width: 100%
          }
       }

         p {

               @media screen and (max-width: $break-small) {
                  margin-right: 0;
                  width: 100%;
                  padding:  0;
                  margin: 0;
                  max-height:none;
                }
         }

       a {
         font-size: 1.1em;
       }

	}
   }

}

.post-color {
	width: 10px;
	height: 10px;
	float: left;
  margin: 1px 5px 0 0;
}

.post-color-blog {
	width: 10px;
	height: 10px;
  margin: 1px 5px 0 0;
}




li.post-date {
text-transform:uppercase;
text-align:center;
font-size:.6em;
font-weight:$headWeight;
margin: 2em 0 0;
}

.links {
@include span-columns(3 of 6);
}

.social {
@include span-columns(6);
  margin: 2em 0px;

  	ul li {
  	@include span-columns(1);
  	@include omega(4n);
  	}

	h3 {
	  text-align: left;
	  font-weight: 700;
	}
}

footer {

  margin:  0;
  padding: 2em 0;

 @include direction-context(right-to-left){
.footer-right {
    @include span-columns(4);
    text-align: right;
  ul li {
display: inline;
    margin: 1.8em 0;
padding: 0 1em;


    img {
      width: 20px;
    }
  }
}
}
		h3{
      @include span-columns(8);
		text-align:left;
		}


}
