h6{
	font-size: .5em;
	float: left;
display: block;
margin-right: 2.35765%;
width: 100%;
margin-bottom: 1em;
}


blockquote {
  font-size: 2em;
  float: left;
  text-align: center;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;

    p{
      line-height: 1.5em;

    }
}

.archive_list {
	margin: 1em 0;
	@include span-columns(10);

	h2 {
			@include span-columns(12);
		margin: 0;
		font-size: 1.5em;
	}

	p {
		@include span-columns(8);
	}
}

.twitter-handle {
	@include outer-container;
padding: 2em 0px 0;
}

#ph-tweets {

ul li {

	margin: 1em 0;
	float: left;
display: block;
width: 31.76157%;
padding: 0 1em 0 0em;

	img {
		max-width: 20px;
	}


}
h2.title {
	text-align: center;
	margin: 1em 0;
	font-size: 2em;
}

h2.tag-title {
	text-align: center;
	margin: 1em 0 0 0;
	font-size: 2em;

	}
<<<<<<< Updated upstream
=======

}

.list-thumbnail {
  @include span-columns(4);
  @media screen and (max-width: $break-small) {
    width: 100%;

  }
}

.post-category {
  @include outer-container;
}
>>>>>>> Stashed changes

}
.nav {
  padding: 0;
  cursor: pointer;
  display: none;


	.info {
	display: table-cell;
	margin-right: 2.35765%;
	width: 48.82117%;
	list-style: none;
	overflow: hidden;
	position: relative;
	padding: 0 69px 0 0;

@media screen and (max-width: $break-small) {
	padding: 0 1.55555em;

}
	}

  ul {
    list-style: none;
    display: inline;
    padding: 0;
    li {
	padding: 24px 0 0;
	transition: .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	margin: 0 ;

		img {
			max-width: 100%
		}

	@media screen and (max-width: $break-small) {
		display: block;
		width: 100%;

	}

			h3 {
				text-align: left;
			}

      a {
        color: #818181;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-weight: 300;

			&.twitter {
			margin-top: 30px;

			}
      }
      &:hover {
        color: #5A5A5A;
        transition: .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
      }
    }
  }
}

.archive-list {
	@include span-columns(8);
	@include shift(2);
	@media screen and (max-width: $break-small) {
		width: 100%;

	}
		h3 {
			text-align: left;
			font-size:.7em;
			margin: 0;
		}
	.title {
		font-size: 1.3em;
				line-height: 1;
	}
	.more {
		margin: 23px 0;
			a {
				padding: 7px;
background-color: #b5b4a7;
color: white;
text-transform: uppercase;
font-size: 14px;
			}
		 a:hover {
				background-color: #000;
			}
	}

	.post-tag {
	  @include span-columns(10);
		margin: 0;
	padding: 2em 0;

	@media screen and (max-width: $break-small) {
	@include outer-container;
	  display: inline;
	  width: 100%;
	      padding: 2em 0;
	  margin-left: 0;


	}


	  a{
			background-color: #f2f2f2;
padding: 8px 13px;
display: inline;
font-size: .9em;
margin: 0 6px 0 0;
	@media screen and (max-width: $break-small) {
	  display: inline;
	  width: 100%;
	  float: none;

	}
	    &:hover {
	        background-color: #DEE7E2;
	        color: black;
	    }
	}

	}
}

#disqus_thread {
	@include span-columns(8);
	@include shift(2);
	padding-top: 3em;
margin-top: 1em;
    border-top: 1px solid #eee;

		@media screen and (max-width: $break-large) {
			width: 100%;
		margin-left: 0;

		}

}

.pagination {
@include outer-container;
    text-align: left;
	ul {
	display:inline;
	    padding: 0;
		li {
    top: 40%;
    display: inline-block;
		}

		li.previous{
			position: fixed;
	background-color: blanchedalmond;
	left: 0;
	width: 49px;
	text-align: center;
	font-size: 35px;
		}

		li.next {
			position: fixed;
	background-color: blanchedalmond;
	right:0;
	width: 49px;
	text-align: center;
	font-size: 35px;

		}
	}
}
