h6{
	font-size: .5em;
	float: left;
display: block;
margin-right: 2.35765%;
width: 100%;
margin-bottom: 1em;
}

.homepage-archives {
	@include span-columns(8);

		@media screen and (max-width: $break-small) {
			margin: 0;

		}
}

.post-category {
	@include outer-container;


		.post-category-header {

			h1 {
			@include span-columns(8);
				@include shift(2);
				text-align: center;
				color: black;
}
		}
}
blockquote {
  font-size: 2em;
  float: left;


    p{
      line-height: 1.5em;

    }
}

   

.twitter-handle {
	@include outer-container;
padding: 2em 0px 0;
}

#ph-tweets {

ul li {

	margin: 1em 0;
	float: left;
display: block;
width: 31.76157%;
padding: 0 1em 0 0em;

	img {
		max-width: 20px;
	}


}
h2.title {
	margin: 1em 0;
	font-size: 2em;
}

h2.tag-title {
	text-align: center;
	margin: 1em 0 0 0;
	font-size: 2em;

	}

}
.nav {
  padding: 0;
  cursor: pointer;
  display: none;


	.info {
	display: table-cell;
	margin-right: 2.35765%;
	width: 48.82117%;
	list-style: none;
	overflow: hidden;
	position: relative;
	padding: 0 69px 0 0;

@media screen and (max-width: $break-small) {
	padding: 0 1.55555em;

}
	}

  ul {
    list-style: none;
    display: inline;
    padding: 0;
    li {
	padding: 24px 0 0;
	transition: .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	margin: 0 ;

		img {
			max-width: 100%
		}

	@media screen and (max-width: $break-small) {
		display: block;
		width: 100%;

	}

			h3 {
				text-align: left;
			}

      a {
        color: #818181;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-weight: 300;

			&.twitter {
			margin-top: 30px;

			}
      }
      &:hover {
        color: #5A5A5A;
        transition: .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
      }
    }
  }
}

.pagination {
@include outer-container;
    text-align: left;
	ul {
	display:inline;
	    padding: 0;
		li {
    top: 40%;
    display: inline-block;
		}

	
	}
}


.post-venice {
	@include outer-container;

	div {
		@include span-columns(6);
		@include omega(2n);
    padding: 0;

    		@media screen and (max-width: $break-small) {
		display: block;
		width: 100%;

	}


	}

}
