
header{
 width: 100%;
z-index: 100;
max-width: 100%;
margin-left: auto;
margin-right: auto;
position: relative;
display: block;


 }



.navigation {
@include outer-container;

  ul {
    @include span-columns(6);
    margin: 1em 0;
padding: 0 0 0 7em;
text-align: right;

@media screen and (max-width: $break-small) {
padding: 0 0 1em 0;
margin: 0;
 }

    li {
      display: inline-block;
          margin: 0 1em ;
          border-top: 2px solid #222;




          @media screen and (max-width: $break-small) {
            padding-top: 6px;
              margin: 0 1em;
          border-top: none;
           }


      a {


          img {
            vertical-align: middle;
            width: 27px;

          }
        &:hover {
          color: #ccc;
        }
      }


    }


  }



  .logo {
    font-family:$headerFont;
    font-size: 1.5em;
    @include span-columns(6);
    font-weight: $headTitle;
    margin:.5em 0;
        padding: 0 2em 0 0px;

        @media screen and (max-width: $break-small) {
display: block;
margin: 0;
padding:0px;
color:black;
         }



}



  span {
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}


/* Header */

.site-header-lighter {
  position: absolute;
  top: 0;
  color: white;
  @media screen and (max-width: $break-small) {
  position: relative;
   }
  a {
    color: white;

    @media screen and (max-width: $break-small) {
    color: black;
     }
  }



    li {
      border-top: none;
      padding-top: 10px;

      @media screen and (max-width: $break-small) {
      margin: 1em;
      border-top: none;
       }
       a {color: white;
         border-top: 2px solid #fff;
padding-top: 10px;

         @media screen and (max-width: $break-small) {
         color: black;
          }
       }


    }


}
