
body{
  font-family: $defaultFont;
  font-size:$font-size;
  font-weight: $defaultWeight;
  color: #4444;
  line-height: 1.5;
  background-color:#F0EFE4;
}


.cloth {
	background: url(/img/japanesecloth.jpg) repeat-x;
	 width: 100% !important;
	 padding-top: .9em;
	 margin-bottom: 10px;
}

img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}

/* Layout
================================ */

.wrap{
  max-width: 79em;
   margin-left: auto;
   margin-right: auto;
   margin: 0 auto;
   height: 100%;
   position: relative;
   padding: 0 2.55555em;
   overflow: hidden;
}

.header-image {
margin: 2em 0 0 0;
padding: 0 1em;
}




h1.post-title{
	  font-size: 2em;
    font-family: $headerFont;
    font-weight: $headWeight;

    @media screen and (max-width: $break-large) {
      text-align: center;

    }
}

h3 {
	text-align:center;
	  font-size: 1em;

}

.post-tag {
@include span-columns(6);
padding: 2em 0;
  a{
  background-color: #839de8;
padding: 10px;
    &:hover {
        background-color: #DEE7E2;
        color: black;
    }
}

}







