
body{
  font-family: $defaultFont;
  font-size:$font-size;
  font-weight: $defaultWeight;
  color: #4444;
  line-height: 1.5;
  background-color:#F0EFE4;
}


.cloth {
	background: url(/img/japanesecloth.jpg) repeat-x;
	 width: 100% !important;
	 padding-top: .9em;
	 margin-bottom: 10px;
}

img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}

/* Layout
================================ */

.wrap{
  max-width: 79em;
   margin-left: auto;
   margin-right: auto;
   margin: 0 auto;
   height: 100%;
   position: relative;
   padding: 0 2.55555em;
   overflow: hidden;
}

.header-image {
margin: 2em 0 0 0;
padding: 0 1em;
}




h1.post-title{
	  font-size: 2em;
    font-family: $headerFont;
    font-weight: $headWeight;

    @media screen and (max-width: $break-large) {
      text-align: center;

    }
}

h3 {
	text-align:center;
	  font-size: 1em;

}

.post-tag {
@include span-columns(6);
padding: 2em 0;
  a{
  background-color: #E7E6DE;
padding: 10px;
    &:hover {
        background-color: #DEE7E2;
        color: black;
    }
}

}

#disqus_thread {

	@include span-columns(8);
	@include shift(2);

}


.food-preview {
@include span-columns(4);
@include omega(4n);
}

.food {

	h1 {
	  font-size: 2em;
	  border-top: 3px dashed;
	  font-weight:$headWeight;
	  font-family:$headerFont;
	  }

}


.sidebar {
@include span-columns(4);
@include omega();
	h1 {
	  font-size: 1.2em;
	  font-weight: 700;
	  font-family: $headerFont;
	  margin: 1.6em 0 0;
	  background-color: rgb(231, 230, 222);
	  color: rgb(21, 21, 21);
	  text-align: center;
	  padding: .3em;
	  text-transform: uppercase;
	  }
	@media screen and (max-width: $break-large) {
	  display:none;

	}

}


/* Text
================================ */

a{
  color: #333;
  text-decoration: none;
}

a:hover {
	color: #ccc;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transform: translateZ(0);
	-webkit-transition: all .5s ease-out;
	}

/* Content */

.content-title{
  font-size: 2.4em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}



