---
layout: default
---


<div class="post">
  <div class="wrap">



  <h1 class="post-title">{{ page.title }}
  </h1>

  <ul class="post-credits">
  <li >
    {% for category in page.categories limit:1 | first %}
  <a href="/tag/{{category}}"><h3>Miru/ {{category}}</h3></a>
    {% endfor %}
</li>

  <li>
  <h3 > {{page.date | date: "%b %d. %Y. %T"}}  | </h3>
  </li>

  <li>
  <a class="twitter"href="https://twitter.com/share?text={{page.title}}"  data-text="screen_name" target="_blank"> <img src="/img/twitter-blue.svg"></a>
  </li>

  </ul>
  <h2>By <a href="/author/{{page.name}}"> {{page.author}}</a></h2>
  <div class="post-content">

    {{ content }}

      <div class="post-tag">
      {% for tag in page.tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      </div>





      <article class="related-posts">
        <ul>
      {% for post in site.related_posts %}
        <li>
        <div class="related-asset">
        <div class="post-color" style=" background:{{post.dept}};"></div>
        <h3> {{post.date | date: "%b %d, %Y"}}</h3>
        <a href="{{post.url}}">{{post.title}}</a>
      </div>
        <p>{{post.content | strip_html | truncatewords: 40}}</p>
        </li>
        {% if forloop.index == 3 %}{% break %}{% endif %}
        {% endfor %}
        </ul>

      </article>


</div></div>
